DB_ROOT_PWD=password
DB_NAME=app_db
DB_USER=user
DB_PWD=password

API_PORT=8000
PZ_DATABASE_URL=mysql+pymysql://user:password@db:3306/app_db
PZ_DEBUG=1
PZ_ENV=dev
PZ_CORS_ORIGINS=["http://localhost:5173","http://localhost:5174"]
PZ_CORS_HEADERS=["*"]

FRONTEND_PORT=5173
VITE_API_URL=http://localhost:8000

ADMINER_PORT=8080
