PZ_MYSQL_ROOT_PASSWORD=password
PZ_DB_NAME=app_db
PZ_DB_USER=user
PZ_DB_ROOT_PWD=root
PZ_DB_PASSWORD=password
PZ_DATABASE_URL=mysql+pymysql://${PZ_DB_USER}:${PZ_DB_PASSWORD}@db:3306/${PZ_DB_NAME}
PZ_DEBUG=1

PZ_API_PORT=8000
PZ_ENV=dev
PZ_CORS_ORIGINS=["http://localhost:5173","http://localhost:5174"]
PZ_CORS_HEADERS=["*"]
FRONTEND_PORT=5173

PZ_ADMINER_PORT=8080
PZ_VITE_API_URL=http://localhost:8000



PZ_GOOGLE_CLIENT_ID=
PZ_GOOGLE_CLIENT_SECRET=
PZ_GOOGLE_REDIRECT_URI=http://localhost:8000/auth/google/callback

PZ_JWT_SECRET_KEY=
PZ_JWT_ALGORITHM=HS256
PZ_ACCESS_TOKEN_EXPIRE_MINUTES=30

PZ_MYSQL_ROOT_PASSWORD=root
