DB_ROOT_PWD=password
DB_NAME=app_db
DB_USER=user
DB_PWD=password
PZ_DATABASE_URL=mysql+pymysql://user:password@db:3306/app_db
PZ_DEBUG=1

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=http://localhost:5173/auth/google/callback

JWT_SECRET_KEY=
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

MYSQL_ROOT_PASSWORD=root
